@charset "UTF-8";

div{
	width:300px;
	height:25px;
	padding:5px;
	background : #0df;
}
.st{
	width:500px;
	height:25px;
	padding:5px;
	background : #0df;
}

div>div{
	width : 70px;
	height: 20px;
	padding:2px;
	float: left;
}

div>div>input{
	width:50px;
	height:20px;
}

